---
title: 'Первая статья!'
---

<script>
	import ArticleHeader from '$lib/components/articles/ArticleHeader.svelte';
</script>

<ArticleHeader {title}/>

# Первый заголовок.

## И подзаголовок!

Здесь, допустим, введение. После него может идти очень длинная и сложная для понимания статья. У меня нет времени её писать, представьте её.
