/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@font-face {
	font-family: 'handwriting';
	src: url('/static/handwriting.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
